<!-- start: PAGE TITLE -->
<section id="page-title">
	<div class="row">
		<div class="col-sm-8">
			<h1 class="mainTitle" >FORM CREATE MEMBERS</h1>
		
		</div>
		<div ncy-breadcrumb></div>
	</div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: FORM VALIDATION -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-md-12">
			<div ng-controller="MembersCreateCtrl">
				<form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
					<div class="row">
						<div class="col-md-12">
							<fieldset>

								<div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
									<label class="control-label">
										 Name <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your Name" class="form-control" name="name" ng-model="myModel.name"
									 required />
									<span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">First Name is required</span>
									<span class="success text-small" ng-if="Form.name.$valid">Thank You!</span>
								</div>

                                <div class="form-group" ng-class="{'has-error':Form.class.$dirty && Form.class.$invalid, 'has-success':Form.name.$valid}">
									<label class="control-label">
										 Class <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your Class" class="form-control" class="class" ng-model="myModel.name"
									 required />
									<span class="error text-small block" ng-if="Form.class.$dirty && Form.class.$invalid">First Name is required</span>
									<span class="success text-small" ng-if="Form.class.$valid">Thank You!</span>
								</div>

                                <div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.name.$valid}">
									<label class="control-label">
										 Email <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your Email" class="form-control" email="email" ng-model="myModel.name"
									 required />
									<span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$invalid">First Name is required</span>
									<span class="success text-small" ng-if="Form.email.$valid">Thank You!</span>
								</div>
                                
                                <div class="form-group" ng-class="{'has-error':Form.phone.$dirty && Form.phone.$invalid, 'has-success':Form.name.$valid}">
									<label class="control-label">
										 Phone <span class="symbol required"></span>
									</label>
									<input type="text" placeholder="Enter your Phone" class="form-control" phone="phone" ng-model="myModel.name"
									 required />
									<span class="error text-small block" ng-if="Form.phone.$dirty && Form.phone.$invalid">First Name is required</span>
									<span class="success text-small" ng-if="Form.phone.$valid">Thank You!</span>
								</div>
                                
                                

								<div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
									<label class="control-label">
										Email <span class="symbol required"></span>
									</label>
									<input type="email" placeholder="Enter a valid E-mail" class="form-control" name="email" ng-model="myModel.email" required>
									<span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$error.required">Email is required.</span>
									<span class="error text-small block" ng-if="Form.email.$error.email">Please, enter a valid email address.</span>
									<span class="success text-small" ng-if="Form.email.$valid">It's a valid e-mail!</span>
								</div>
							</fieldset>
						</div>
						</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary">
									Submit
								</button>
								<button type="reset" class="btn btn-primary btn-o" ng-click="form.reset(Form)">
									Reset
								</button>
								<button class="btn btn-default">
									checkValid = {{ Form.$valid }}
								</button>
							</div>
						</div>
					</div>
					<pre class="margin-top-20">{{ myModel | json }}</pre>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end: FORM VALIDATION -->