<md-dialog style="width: 1200px;">
    <div class="panel-heading bg-white" style="background: #5F8295;">
        <span class="font-bold"><center><font color="white">DATA KAS ONLINE</font></center></span>
    </div>


    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Nama :</label>
                <div class="col-sm-9">
                    <p class="form-control-static">
                        <span style="padding-left: 8px;"></span>{{myModel.name}}
                    </p>
                </div>
                <label class="col-sm-3 control-label">Phone :</label>
                <div ng-if="input.prov_id != ''" class="col-sm-9">
                    <p class="form-control-static">
                        <span style="padding-left: 8px;"></span>{{myModel.phone}}
                    </p>
                </div>
                <label class="col-sm-3 control-label">Kelas :</label>
                <div ng-if="input.prov_id != ''" class="col-sm-9">
                    <p class="form-control-static">
                        <span style="padding-left: 8px;"></span>{{myModel.class}}
                    </p>
                </div>
                <label class="col-sm-3 control-label">Level :</label>
                <div ng-if="input.prov_id != ''" class="col-sm-9">
                    <p class="form-control-static">
                        <span ng-if="myModel.level==0" class="label label-sm label-warning">Member</span>
                        <span ng-if="myModel.level==1" class="label label-sm label-success">User</span>
                        <span ng-if="myModel.level==2" class="label label-sm label-info">Engineering</span>
                    </p>
                </div>
                <label class="col-sm-3 control-label">Minimal Transaksi :</label>
                <div ng-if="input.prov_id != ''" class="col-sm-9">
                    <p class="form-control-static">
                        <span style="padding-left: 8px;"></span>{{myModel.min_transaksi}}
                    </p>
                </div>
            </div>

            <footer class="panel-footer text-center" style="background: #ffffff">
                <md-button class="btn btn-fw btn-default" ng-click='cancel()' tooltip="Kembali">
                    Kembali
                </md-button>
            </footer>
</md-dialog>