<!-- start: PAGE TITLE -->
<div ng-controller="UsersCreateCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">FORM CREATE USERS</h1>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
		{{alert.msg}}
	</uib-alert>
	<!-- end: PAGE TITLE -->
	<!-- start: FORM VALIDATION -->
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<div>
					<form name="Form">
						<div class="row">
							<div class="col-md-12">
								<fieldset>

									<div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
										<label class="control-label">
										 Name <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Name" class="form-control" name="name" ng-model="myModel.name" required />
										<span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">First Name is required</span>
										<span class="success text-small" ng-if="Form.name.$valid">Thank You!</span>
									</div>
									<div class="form-group" ng-class="{'has-error':Form.phone.$dirty && Form.phone.$invalid, 'has-success':Form.phone.$valid}">
										<label class="control-label">
										 Phone <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Phone" class="form-control" name="phone" ng-model="myModel.phone" required />
										<span class="error text-small block" ng-if="Form.phone.$dirty && Form.phone.$invalid">First Class is required</span>
										<span class="success text-small" ng-if="Form.phone.$valid">Thank You!</span>
									</div>

									<div class="form-group" ng-class="{'has-error':Form.kelas_id.$dirty && Form.kelas_id.$invalid, 'has-success':Form.kelas_id.$valid}"
									 ng-if="dataUser.level == 3 ">
										<label class="control-label">
										Kelas <span class="symbol required"></span>
									</label>
										<p class="input-group">
											<input type="text" placeholder="Enter your Kelas" class="form-control" name="kelas_id" ng-model="myModel.kelas_id" required
											 readonly/>
											<span class="input-group-btn">
											<button class="btn btn-default" ng-click="openkelas_id('lg')" md-ink-ripple
												tooltip="Pilih Kelas"><i
												class="glyphicon glyphicon-list"></i></button>

										<span class="error text-small block" ng-if="Form.kelas_id.$dirty && Form.kelas_id.$invalid">Kelas is required</span>

											<span class="success text-small" ng-if="Form.kelas_id.$valid">Thank You!</span>
											</span>
									</div>



									<div class="form-group" ng-class="{'has-error':Form.level.$dirty && Form.level.$invalid, 'has-success':Form.level.$valid}"
									 ng-if="dataUser.level==3">
										<label class="control-label">
										Level <span class="symbol required"></span>
									</label>
										<select class="form-control" name="level" ng-model="myModel.level" required>
										<option value="" disabled selected>Silahkan pilih Level</option>
										<option value="0">Member</option>
										<option value="1">User</option>
									</select>
										<span class="error text-small block" ng-if="Form.level.$dirty && Form.level.$invalid">First Level is required</span>
										<span class="success text-small" ng-if="Form.level.$valid">Thank You!</span>
									</div>
									
									<span ng-if="dataUser.level !='1'">
									<div class="form-group" ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid, 'has-success':Form.password.$valid}">
										<label class="control-label">
										Password <span class="symbol required"></span>
									</label>
									<input type="password" placeholder="Enter a Password" class="form-control" name="password" ng-model="myModel.password" required/>
									<span class="error text-small block" ng-if="Form.password.$dirty && Form.password.$error.required">Password is required.</span>
									<span class="success text-small block" ng-if="Form.password.$valid">Ok!</span>
							</div>
							<div class="form-group" ng-class="{'has-error':Form.password2.$dirty && Form.password2.$error.compareTo || Form.password2.$dirty && Form.password2.$invalid, 'has-success':Form.password2.$valid}">
								<label class="control-label">
										Repeat Password <span class="symbol required"></span>
									</label>
								<input type="password" placeholder="Repeat Password" class="form-control" name="password2" ng-model="myModel.password2" compare-to="myModel.password"
								 required/>
								<span class="error text-small block" ng-if="Form.password2.$dirty && Form.password2.$error.required">Repeat password is required!</span>
								<span class="error text-small block" ng-if="Form.password2.$dirty && Form.password2.$error.compareTo">Passwords do not match!</span>
								<span class="success text-small block" ng-if="Form.password2.$valid">Passwords match!</span>
							</div>
							</span>
							<div class="form-group" ng-class="{'has-error':Form.min_transaksi.$dirty && Form.min_transaksi.$invalid, 'has-success':Form.min_transaksi.$valid}">
								<label class="control-label">
										 Min Transaksi <span class="symbol required"></span>
									</label>
								<input type="text" placeholder="Enter your Min Transaksi" class="form-control" name="min_transaksi" ng-model="myModel.min_transaksi"
								 required />
								<span class="error text-small block" ng-if="Form.min_transaksi.$dirty && Form.min_transaksi.$invalid">Min Transaksi is required</span>
								<span class="success text-small" ng-if="Form.min_transaksi.$valid">Thank You!</span>
							</div>

							<div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
								<label class="control-label">
										 Email <span class="symbol required"></span>
									</label>
								<input type="text" placeholder="Enter your Email" class="form-control" name="email" ng-model="myModel.email" required />
								<span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$invalid">Email is required</span>
								<span class="success text-small" ng-if="Form.email.$valid">Thank You!</span>
							</div>



							</fieldset>
						</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="pull-left">
							<button md-ink-ripple class="btn btn-primary" ng-click="submitData(false)" ng-disabled="Form.$invalid || process">Simpan
								</button>
							<button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)" ng-disabled="Form.$invalid || process">Simpan & Kembali
								</button>
							<button type="reset" class="btn btn-primary btn-o" ng-disabled="process" ng-click="form.reset(Form)">
									Reset
								</button>
							<button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.users" ng-disabled="process">Kembali
								</button>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
<!-- end: FORM VALIDATION -->