<!-- start: PAGE TITLE -->
<div ng-controller="UsersCreateCtrl">
	<section id="page-title">
		<div class="row">
			<div class="col-sm-8">
				<h1 class="mainTitle">FORM CREATE USERS</h1>
			</div>
			<div ncy-breadcrumb></div>
		</div>
	</section>
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
		{{alert.msg}}
	</uib-alert>
	<!-- end: PAGE TITLE -->
	<!-- start: FORM VALIDATION -->
	<div class="container-fluid container-fullw bg-white">
		<div class="row">
			<div class="col-md-12">
				<div>
					<form name="Form">
						<div class="row">
							<div class="col-md-12">
								<fieldset>

									<div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">
										<label class="control-label">
										 Name <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Name" class="form-control" name="name" ng-model="myModel.name" required />
										<span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">First Name is required</span>
										<span class="success text-small" ng-if="Form.name.$valid">Thank You!</span>
									</div>
									<div class="form-group" ng-class="{'has-error':Form.phone.$dirty && Form.phone.$invalid, 'has-success':Form.phone.$valid}">
										<label class="control-label">
										 Phone <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Phone" class="form-control" name="phone" ng-model="myModel.phone" required />
										<span class="error text-small block" ng-if="Form.phone.$dirty && Form.phone.$invalid">First Class is required</span>
										<span class="success text-small" ng-if="Form.phone.$valid">Thank You!</span>
									</div>

									 <div class="form-group" ng-class="{'has-error':Form.class.$dirty && Form.class.$invalid, 'has-success':Form.class.$valid}">
										<label class="control-label">
										Class <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Class" class="form-control" name="class" ng-model="myModel.class" required />
										<span class="error text-small block" ng-if="Form.class.$dirty && Form.class.$invalid">First Class is required</span>
										<span class="success text-small" ng-if="Form.class.$valid">Thank You!</span>
									</div>

									<div class="form-group" ng-class="{'has-error':Form.level.$dirty && Form.level.$invalid, 'has-success':Form.level.$valid}">
										<label class="control-label">
										Level <span class="symbol required"></span>
									</label>
										<input type="text" placeholder="Enter your Level" class="form-control" name="level" ng-model="myModel.level" required />
										<span class="error text-small block" ng-if="Form.level.$dirty && Form.level.$invalid">First Level is required</span>
										<span class="success text-small" ng-if="Form.level.$valid">Thank You!</span>
									</div>

												<div class="form-group" ng-class="{'has-error':Form.password.$dirty && Form.password.$invalid, 'has-success':Form.password.$valid}">
									<label class="control-label">
										Password <span class="symbol required"></span>
									</label>
									<input type="password" placeholder="Enter a Password" class="form-control" name="password" ng-model="myModel.password" required/>
									<span class="error text-small block" ng-if="Form.password.$dirty && Form.password.$error.required">Password is required.</span>
									<span class="success text-small block" ng-if="Form.password.$valid">Ok!</span>
								</div>
								<div class="form-group" ng-class="{'has-error':Form.password2.$dirty && Form.password2.$error.compareTo || Form.password2.$dirty && Form.password2.$invalid, 'has-success':Form.password2.$valid}">
									<label class="control-label">
										Repeat Password <span class="symbol required"></span>
									</label>
									<input type="password" placeholder="Repeat Password" class="form-control" name="password2" ng-model="myModel.password2" compare-to="myModel.password"
									 required/>
									<span class="error text-small block" ng-if="Form.password2.$dirty && Form.password2.$error.required">Repeat password is required!</span>
									<span class="error text-small block" ng-if="Form.password2.$dirty && Form.password2.$error.compareTo">Passwords do not match!</span>
									<span class="success text-small block" ng-if="Form.password2.$valid">Passwords match!</span>
								</div>
					


								</fieldset>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="pull-left">
									<button md-ink-ripple class="btn btn-primary" ng-click="submitData(false)" ng-disabled="Form.$invalid || process">Simpan
								</button>
									<button md-ink-ripple class="btn btn-primary" ng-click="submitData(true)" ng-disabled="Form.$invalid || process">Simpan & Kembali
								</button>
									<button type="reset" class="btn btn-primary btn-o" ng-disabled="process" ng-click="form.reset(Form)">
									Reset
								</button>
									<button md-ink-ripple class="btn btn-primary btn-o" ui-sref="app.members" ng-disabled="process">Kembali
								</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end: FORM VALIDATION -->