<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>

		<li ui-sref-active="active">
		<a ui-sref="app.transactions"> <!-- Link Masuk Halaman transactions -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Transaction </span>
				</div>
			</div>
		</a>
	</li>

		
		<li ui-sref-active="active" ng-if="dataUser.level !=0">
		<a ui-sref="app.users"> <!-- Link Masuk Halaman users -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-id-badge"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Member </span>
				</div>
			</div>
		</a>
	</li>

	<li ui-sref-active="active" ng-if="dataUser.level !=0">
		<a ui-sref="app.users-password"> <!-- Link Ganti Password -->
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Setting  </span>
				</div>
			</div>
		</a>
	</li>
		</ul>
	</li>
	