<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
        <h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">WELCOME TO CLIP-TWO </h1>
		</div>
    </div>
</section>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">

                <div class="panel-body">
                    <a ui-sref="app.transactions">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i
                                class="fa fa-edit fa-stack-1x fa-inverse" aria-hidden="true"></i> </span>
                        <h2 class="StepTitle">Transaksi Kas</h2>
                        <p class="text-small">
                            Transaksi Kas Setiap Kelas
                        </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
          <a ui-sref="app.users">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i
                            class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Member Kas</h2>
                    <p class="text-small">
                       Member Kas Setiap Kelas 
                    </p>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>
</div>
<div class="container-fluid container-fullw padding-bottom-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-7 col-lg-8">
                            <div class="panel panel-white no-radius" id="visits">
                                <div class="panel-heading border-light">
                                    <h4 class="panel-title"> Total Transaksi perbulan </h4>
                                    <ul class="panel-heading-tabs border-light">
                                        <!--<li>-->
                                        <!--<div class="pull-right">-->
                                        <!--<div class="btn-group" uib-dropdown is-open="status.isopen">-->
                                        <!--<a uib-dropdown-toggle ng-disabled="disabled" class="padding-10">-->
                                        <!--<i class="ti-more-alt "></i>-->
                                        <!--</a>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</li>-->
                                        <li class="panel-tools">
                                            <ct-paneltool tool-refresh="load1()"></ct-paneltool>
                                        </li>
                                    </ul>
                                </div>
                                <div uib-collapse="visits" ng-init="visits=false" class="panel-wrapper">
                                    <div class="panel-body">
                                        <!-- /// controller:  'VisitsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
                                        <div ng-controller="VisitsCtrl" class="height-350">
                                            <canvas class="tc-chart" tc-chartjs-line chart-options="options"
                                                    chart-data="data" chart-legend="chart1" width="100%"></canvas>
                                            <div class="margin-top-20">
                                                <div tc-chartjs-legend chart-legend="chart1"
                                                     class="inline pull-left"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>