<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
        <h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">WELCOME TO CLIP-TWO </h1>
		</div>
    </div>
</section>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">

                <div class="panel-body">
                    <a ui-sref="app.transactions">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i
                                class="fa fa-edit fa-stack-1x fa-inverse" aria-hidden="true"></i> </span>
                        <h2 class="StepTitle">Transaksi Kas</h2>
                        <p class="text-small">
                            Transaksi Kas Setiap Kelas
                        </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
          <a ui-sref="app.users">
                    <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i
                            class="fa fa-users fa-stack-1x fa-inverse"></i> </span>
                    <h2 class="StepTitle">Member Kas</h2>
                    <p class="text-small">
                       Member Kas Setiap Kelas 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
            </div>
        </div>
    </div>
</div>